osb_uat/repo/SCMSproject/PS_WS_SCMS_GENERATE_HOUSEHOLD_ID_VIP/wsdl/SCMSproject_proxy_PS_WS_SCMS_GENERATE_HOUSEHOLD_ID_VIP.wsdl

<wsdl:definitions name="WS_SCMS_GENERATE_HOUSEHOLD_ID_VIP" targetNamespace="http://www.skytv.it/mdw/service/SCMS_GENERATE_HOUSEHOLD_ID_VIP" xmlns:tns="http://www.skytv.it/mdw/service/SCMS_GENERATE_HOUSEHOLD_ID_VIP" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_SCMS_GENERATE_HOUSEHOLD_ID_VIP.xsd"/>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="requestGTHHVP_Message">
		<wsdl:part name="part_requestGTHHVP" element="inp1:requestGTHHVP"/>
	</wsdl:message>
	<wsdl:message name="responseGTHHVP_Message">
		<wsdl:part name="part_responseGTHHVP" element="inp1:responseGTHHVP"/>
	</wsdl:message>
        <wsdl:message name="requestGTHHNS_Message">
		<wsdl:part name="part_requestGTHHNS" element="inp1:requestGTHHNS"/>
	</wsdl:message>
	<wsdl:message name="responseGTHHNS_Message">
		<wsdl:part name="part_responseGTHHNS" element="inp1:responseGTHHNS"/>
	</wsdl:message>
	<wsdl:message name="header_Message">
		<wsdl:part name="part_Header" element="inp1:Header"/>
	</wsdl:message>
	<wsdl:portType name="SCMS_GENERATE_HOUSEHOLD_ID_VIP_ptt">
		<wsdl:operation name="execute_GenerateHouseHoldIdVip">
			<wsdl:input message="tns:requestGTHHVP_Message"/>
			<wsdl:output message="tns:responseGTHHVP_Message"/>
		</wsdl:operation>
                <wsdl:operation name="execute_GenerateHouseHoldVipNoSTB">
                   <wsdl:input message="tns:requestGTHHNS_Message"/>
                   <wsdl:output message="tns:responseGTHHNS_Message"/>
            </wsdl:operation>
        </wsdl:portType>
	<wsdl:binding name="SCMS_GENERATE_HOUSEHOLD_ID_VIP_bind" type="tns:SCMS_GENERATE_HOUSEHOLD_ID_VIP_ptt">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="execute_GenerateHouseHoldIdVip">
			<soap:operation soapAction="execute_GenerateHouseHoldIdVip" style="document"/>
			<wsdl:input>
				<soap:body use="literal" namespace="http://www.skytv.it/mdw/service/SCMS_GENERATE_HOUSEHOLD_ID_VIP"/>
				<soap:header message="tns:header_Message" part="part_Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" namespace="http://www.skytv.it/mdw/service/SCMS_GENERATE_HOUSEHOLD_ID_VIP"/>
				<soap:header message="tns:header_Message" part="part_Header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
                <wsdl:operation name="execute_GenerateHouseHoldVipNoSTB">
                    <soap:operation soapAction="execute_GenerateHouseHoldVipNoSTB" style="document"/>
                    <wsdl:input>
                    <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/SCMS_GENERATE_HOUSEHOLD_ID_VIP"/>
                    <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
                    </wsdl:input>
                    <wsdl:output>
    <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/SCMS_GENERATE_HOUSEHOLD_ID_VIP"/>
    <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
   </wsdl:output>
  </wsdl:operation>
 </wsdl:binding>
</wsdl:definitions>