osb_uat/repo/BlueBirdProject/SALESFORCE/addressSharingNotification/PS_REST_SF_ADDRESS_SHARING_NOTIFICATION/wsdl/BlueBirdProject_SALESFORCE_addressSharingNotification_proxy_PS_REST_SF_ADDRESS_SHARING_NOTIFICATION.wsdl

<wsdl:definitions name="PS_REST_SF_ADDRESS_SHARING_NOTIFICATION" targetNamespace="http://xmlns.oracle.com/SKY_Application/BlueBirdProject/PS_REST_SF_ADDRESS_SHARING_NOTIFICATION" xmlns:tns="http://xmlns.oracle.com/SKY_Application/BlueBirdProject/PS_REST_SF_ADDRESS_SHARING_NOTIFICATION" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_SF_ADDRESS_SHARING_NOTIFICATION">
        <plnk:role name="PS_REST_SF_ADDRESS_SHARING_NOTIFICATIONProvider" portType="tns:PS_REST_SF_ADDRESS_SHARING_NOTIFICATION_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/SALESFORCE/addressSharingNotification/xsd/XSD_REST_SF_ADDRESS_SHARING_NOTIFICATION.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="NotifyAddressSharing_inputMessage">
        <wsdl:part name="request" element="inp1:requestNotifyAddressSharing"/>
    </wsdl:message>
    <wsdl:message name="NotifyAddressSharing_outputMessage">
        <wsdl:part name="reply" element="inp1:responseNotifyAddressSharing"/>
    </wsdl:message>
    <wsdl:message name="NotifyAddressSharing_Error400Message">
        <wsdl:part name="fault_Error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="NotifyAddressSharing_Error500Message">
        <wsdl:part name="fault_Error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="NotifyAddressSharing_Error404Message">
        <wsdl:part name="fault_Error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_SF_ADDRESS_SHARING_NOTIFICATION_ptt">
        <wsdl:operation name="NotifyAddressSharing">
            <wsdl:input message="tns:NotifyAddressSharing_inputMessage"/>
            <wsdl:output message="tns:NotifyAddressSharing_outputMessage"/>
            <wsdl:fault name="Error400" message="tns:NotifyAddressSharing_Error400Message"/>
            <wsdl:fault name="Error500" message="tns:NotifyAddressSharing_Error500Message"/>
            <wsdl:fault name="Error404" message="tns:NotifyAddressSharing_Error404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_SF_ADDRESS_SHARING_NOTIFICATION_ptt-binding" type="tns:PS_REST_SF_ADDRESS_SHARING_NOTIFICATION_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="NotifyAddressSharing">
            <soap:operation soapAction="NotifyAddressSharing"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>