osb_uat/repo/SSOProject/OnePuckPreRegistration/PS_REST_SSO_ONEPUCK_PREREGISTRATION/wsdl/SSOProject_OnePuckPreRegistration_proxy_PS_REST_SSO_ONEPUCK_PREREGISTRATION.wsdl

<wsdl:definitions name="PS_REST_SSO_ONEPUCK_PREREGISTRATION" targetNamespace="http://xmlns.oracle.com/SKY_Application/SSOProject/PS_REST_SSO_ONEPUCK_PREREGISTRATION" xmlns:tns="http://xmlns.oracle.com/SKY_Application/SSOProject/PS_REST_SSO_ONEPUCK_PREREGISTRATION" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_SSO_ONEPUCK_PREREGISTRATION">
        <plnk:role name="PS_REST_SSO_ONEPUCK_PREREGISTRATIONProvider" portType="tns:PS_REST_SSO_ONEPUCK_PREREGISTRATION_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SSOProject/OnePuckPreRegistration/xsd/XSD_SSO_ONEPUCK_PREREGISTRATION.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="preregistration_inputMessage">
        <wsdl:part name="request" element="inp1:requestOnePuckPreRegistration"/>
    </wsdl:message>
    <wsdl:message name="preregistration_outputMessage">
        <wsdl:part name="reply" element="inp1:responseOnePuckPreRegistration"/>
    </wsdl:message>
    <wsdl:message name="preregistration_error_500Message">
        <wsdl:part name="fault_error_500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="preregistration_error_400Message">
        <wsdl:part name="fault_error_400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="preregistration_error_404Message">
        <wsdl:part name="fault_error_404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_SSO_ONEPUCK_PREREGISTRATION_ptt">
        <wsdl:operation name="preregistration">
            <wsdl:input message="tns:preregistration_inputMessage"/>
            <wsdl:output message="tns:preregistration_outputMessage"/>
            <wsdl:fault name="error_500" message="tns:preregistration_error_500Message"/>
            <wsdl:fault name="error_400" message="tns:preregistration_error_400Message"/>
            <wsdl:fault name="error_404" message="tns:preregistration_error_404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_SSO_ONEPUCK_PREREGISTRATION_ptt-binding" type="tns:PS_REST_SSO_ONEPUCK_PREREGISTRATION_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="preregistration">
            <soap:operation soapAction="preregistration"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>