osb_uat/repo/OTTUkProject/PinHandler/PS_REST_OTT_PIN_HANDLER/wsdl/OTTUkProject_PinHandler_proxy_PS_REST_OTT_PIN_HANDLER.wsdl

<wsdl:definitions name="PS_REST_OTT_PIN_HANDLER" targetNamespace="http://xmlns.oracle.com/SKY_Application/OTTUkProject/PS_REST_OTT_PIN_HANDLER" xmlns:tns="http://xmlns.oracle.com/SKY_Application/OTTUkProject/PS_REST_OTT_PIN_HANDLER" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_OTT_PIN_HANDLER">
        <plnk:role name="PS_REST_OTT_PIN_HANDLERProvider" portType="tns:PS_REST_OTT_PIN_HANDLER_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/OTTUk/PinHandler/xsd/XSD_OTT_PIN_HANDLER.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="opModifyPin_inputMessage">
        <wsdl:part name="request" element="inp1:requestModifyPin"/>
    </wsdl:message>
    <wsdl:message name="opModifyPin_outputMessage">
        <wsdl:part name="reply" element="inp1:responseModifyPin"/>
    </wsdl:message>
    <wsdl:message name="opModifyPin_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="opModifyPin_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="opModifyPin_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
        <wsdl:message name="opResetPin_inputMessage">
        <wsdl:part name="request" element="inp1:requestResetPin"/>
    </wsdl:message>
    <wsdl:message name="opResetPin_outputMessage">
        <wsdl:part name="reply" element="inp1:responseResetPin"/>
    </wsdl:message>
    <wsdl:message name="opResetPin_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="opResetPin_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="opResetPin_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_OTT_PIN_HANDLER_ptt">
        <wsdl:operation name="opModifyPin">
            <wsdl:input message="tns:opModifyPin_inputMessage"/>
            <wsdl:output message="tns:opModifyPin_outputMessage"/>
            <wsdl:fault name="error400" message="tns:opModifyPin_error400Message"/>
            <wsdl:fault name="error500" message="tns:opModifyPin_error500Message"/>
            <wsdl:fault name="error404" message="tns:opModifyPin_error404Message"/>
        </wsdl:operation>
        <wsdl:operation name="opResetPin">
            <wsdl:input message="tns:opResetPin_inputMessage"/>
            <wsdl:output message="tns:opResetPin_outputMessage"/>
            <wsdl:fault name="error400" message="tns:opResetPin_error400Message"/>
            <wsdl:fault name="error500" message="tns:opResetPin_error500Message"/>
            <wsdl:fault name="error404" message="tns:opResetPin_error404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_OTT_PIN_HANDLER_ptt-binding" type="tns:PS_REST_OTT_PIN_HANDLER_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="opModifyPin">
            <soap:operation soapAction="opModifyPin"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="opResetPin">
            <soap:operation soapAction="opResetPin"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>