esb_uat/repo/WS_SF_BBH_SBL_CORE_SERVICE/xsd/SkyXSD_SF_BBH_SBL_CORE_SERVICE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:eb="http://www.reply.it/existbus" targetNamespace="http://www.reply.it/existbus" elementFormDefault="qualified" attributeFormDefault="unqualified"> 
 <xsd:complexType name="COMPLEX_INPUT"> 
  <xsd:sequence> 
   <xsd:element name="ServiceName" type="xsd:string" /> 
   <xsd:element name="Data" type="eb:Data" /> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:complexType name="Data"> 
  <xsd:sequence> 
   <xsd:element name="ProspectData" type="eb:ProspectData" /> 
   <xsd:element name="OperationData" type="eb:OperationData" /> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:complexType name="ProspectData"> 
  <xsd:sequence> 
   <xsd:element name="CatenaGruppo" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="255" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="CodiceCliente" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="15" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="IdSFDC" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="30" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="Stelle" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="10" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="PartitaIva" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:minLength value="0" /> 
      <xsd:maxLength value="50" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="TelefonoPrincipale"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:minLength value="1" /> 
      <xsd:maxLength value="50" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="NomeCognomeRagSociale"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:minLength value="1" /> 
      <xsd:maxLength value="100" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="Cellulare" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="30" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="IdELM" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="30" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="TipoCliente" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="30" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="MarketType" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="100" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="StagionalitaFlg" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="1" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="Insegna" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="250" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="AbusivoFlg" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="1" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="NumeroCamere" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:int" /> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="AltroTelefono" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="40" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="Email" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="100" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="AddressData" type="eb:AddressData" minOccurs="0" /> 
   <xsd:element name="Opportunity99Data" type="eb:Opportunity99Data" minOccurs="0" /> 
   <xsd:element name="OpportunityData" type="eb:OpportunityData" minOccurs="0" /> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:complexType name="AddressData"> 
  <xsd:sequence> 
   <xsd:element name="Cap" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="30" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="Civico" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="30" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="Localita" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="100" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="Via" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="100" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="Provincia" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="2" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:complexType name="Opportunity99Data"> 
  <xsd:sequence> 
   <xsd:element name="Dealer" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="30" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="Probabilita" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:int" /> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="OpportunityId" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="30" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:complexType name="OpportunityData"> 
  <xsd:sequence> 
   <xsd:element name="Probabilita" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:int" /> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="PacchettoProposto" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="100" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="PromozioneProposta" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="100" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="OpportunityId" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="30" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:complexType name="OperationData"> 
  <xsd:sequence> 
   <xsd:element name="DescrizioneElaborazione" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="512" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="NumeroElaborazione" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:int" /> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="LogFile" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="255" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="DataElaborazione" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:date" /> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="StatoElaborazione" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="30" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="EsitoElaborazione" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="30" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="Tid" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="30" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="TuxSeverId" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="30" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:complexType name="COMPLEX_OUTPUT"> 
  <xsd:sequence> 
   <xsd:element name="Esito"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:length value="1" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="DescEsito" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="255" /> 
      <xsd:minLength value="0" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="ProspectId" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:maxLength value="15" /> 
      <xsd:minLength value="1" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
  </xsd:sequence> 
 </xsd:complexType> 
</xsd:schema>