osb_uat/repo/BlueBirdProject/Reitek/callMeNow/PS_REST_REITEK_CALL_ME_NOW/wsdl/BlueBirdProject_Reitek_callMeNow_proxy_PS_REST_REITEK_CALL_ME_NOW.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PS_REST_REITEK_CALL_ME_NOW"
     targetNamespace="http://xmlns.oracle.com/SKY_Application/BlueBirdProject/PS_REST_REITEK_CALL_ME_NOW"
     xmlns:tns="http://xmlns.oracle.com/SKY_Application/BlueBirdProject/PS_REST_REITEK_CALL_ME_NOW"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:inp2="http://www.skytv.it/mdw/data"
    >
    <plnk:partnerLinkType name="PS_REST_REITEK_CALL_ME_NOW">
        <plnk:role name="PS_REST_REITEK_CALL_ME_NOWProvider" portType="tns:PS_REST_REITEK_CALL_ME_NOW_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/Reitek/callMeNow/xsd/XSD_REST_REITEK_CALL_ME_NOW.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="NotifyCallMeNow_inputMessage">
        <wsdl:part name="request" element="inp1:requestNotifyCallMeNow"/>
    </wsdl:message>
    <wsdl:message name="NotifyCallMeNow_outputMessage">
        <wsdl:part name="reply" element="inp1:responseNotifyCallMeNow"/>
    </wsdl:message>
    <wsdl:message name="NotifyCallMeNow_Error400Message">
        <wsdl:part name="fault_Error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="NotifyCallMeNow_Error500Message">
        <wsdl:part name="fault_Error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="NotifyCallMeNow_Error404Message">
        <wsdl:part name="fault_Error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_REITEK_CALL_ME_NOW_ptt">
        <wsdl:operation name="NotifyCallMeNow">
            <wsdl:input message="tns:NotifyCallMeNow_inputMessage"/>
            <wsdl:output message="tns:NotifyCallMeNow_outputMessage"/>
            <wsdl:fault name="Error400" message="tns:NotifyCallMeNow_Error400Message"/>
            <wsdl:fault name="Error500" message="tns:NotifyCallMeNow_Error500Message"/>
            <wsdl:fault name="Error404" message="tns:NotifyCallMeNow_Error404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_REITEK_CALL_ME_NOW_ptt-binding" type="tns:PS_REST_REITEK_CALL_ME_NOW_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="NotifyCallMeNow">
            <soap:operation soapAction="NotifyCallMeNow"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>