esb_uat/repo/WS_SCMS_CANWORKBYGROUP/wsdl/WS_SCMS_CANWORKBYGROUP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opScmsCanWorkByGroup"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CA_OPERATORE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CA_NUM_SMC" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opScmsCanWorkByGroupResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CA_MSG" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opScmsCanWorkByGroupRequest"> 
  <wsdl:part element="eb:opScmsCanWorkByGroup" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opScmsCanWorkByGroupResponse"> 
  <wsdl:part element="eb:opScmsCanWorkByGroupResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_CANWORKBYGROUPSoap"> 
  <wsdl:operation name="opScmsCanWorkByGroup"> 
   <wsdl:input message="eb:opScmsCanWorkByGroupRequest" name="opScmsCanWorkByGroupRequest" /> 
   <wsdl:output message="eb:opScmsCanWorkByGroupResponse" name="opScmsCanWorkByGroupResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_CANWORKBYGROUPSoap" type="eb:WS_SCMS_CANWORKBYGROUPSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opScmsCanWorkByGroup"> 
   <soap:operation soapAction="WS_SCMS_CANWORKBYGROUP/opScmsCanWorkByGroup" style="document" /> 
   <wsdl:input name="opScmsCanWorkByGroupRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opScmsCanWorkByGroupResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_CANWORKBYGROUP"> 
  <wsdl:port binding="eb:WS_SCMS_CANWORKBYGROUPSoap" name="WS_SCMS_CANWORKBYGROUPSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SCMS_CANWORKBYGROUP" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>