osb_uat/repo/SCMSproject/RDKHandler/PS_WS_SCMS_RDK_HANDLER/wsdl/SCMSproject_RDKHandler_proxy_PS_WS_SCMS_RDK_HANDLER.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.skytv.it/mdw/service/SCMS_RDK_HANDLER" xmlns:inp1="http://www.skytv.it/mdw/data"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WS_SCMS_RDK_HANDLER"
                  targetNamespace="http://www.skytv.it/mdw/service/SCMS_RDK_HANDLER">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_SCMS_RDK_HANDLER.xsd"/>
      <xsd:import namespace="http://www.skytv.it/mdw/data"
                  schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="requestRDKStartProvisioning_Message">
    <wsdl:part name="part_requestRDKStartProvisioning" element="inp1:requestRDKStartProvisioning"/>
  </wsdl:message>
  <wsdl:message name="responseRDKStartProvisioning_Message">
    <wsdl:part name="part_responseRDKStartProvisioning" element="inp1:responseRDKStartProvisioning"/>
  </wsdl:message>
  <wsdl:message name="requestRDKMigration_Message">
    <wsdl:part name="part_requestRDKMigration" element="inp1:requestRDKMigration"/>
  </wsdl:message>
  <wsdl:message name="responseRDKMigration_Message">
    <wsdl:part name="part_responseRDKMigration" element="inp1:responseRDKMigration"/>
  </wsdl:message>
  <wsdl:message name="header_Message">
    <wsdl:part name="part_Header" element="inp1:Header"/>
  </wsdl:message>
  <wsdl:portType name="SCMS_RDK_HANDLER_ptt">
    <wsdl:operation name="execute_RDKStartProvisioning">
      <wsdl:input message="tns:requestRDKStartProvisioning_Message"/>
      <wsdl:output message="tns:responseRDKStartProvisioning_Message"/>
    </wsdl:operation>
    <wsdl:operation name="execute_RDKMigration">
      <wsdl:input message="tns:requestRDKMigration_Message"/>
      <wsdl:output message="tns:responseRDKMigration_Message"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SCMS_RDK_HANDLER_bind" type="tns:SCMS_RDK_HANDLER_ptt">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="execute_RDKStartProvisioning">
      <soap:operation soapAction="http://www.skytv.it/mdw/service/SCMS_RDK_HANDLER/execute_RDKStartProvisioning" style="document"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/SCMS_RDK_HANDLER"/>
        <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/SCMS_RDK_HANDLER"/>
        <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="execute_RDKMigration">
      <soap:operation soapAction="http://www.skytv.it/mdw/service/SCMS_RDK_HANDLER/execute_RDKMigration" style="document"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/SCMS_RDK_HANDLER"/>
        <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/SCMS_RDK_HANDLER"/>
        <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>