esb_uat/repo/WS_HTL_SBL_APPLICA_PROMO_HD/xsd/SkyXSD_WS_HTL_SBL_APPLICA_PROMO_HD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:eb="http://www.reply.it/existbus" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.reply.it/existbus" elementFormDefault="qualified" attributeFormDefault="unqualified"> 
 <xsd:complexType name="ApplicaPromoIn"> 
  <xsd:sequence> 
   <xsd:element name="CodiceContratto" type="xsd:string" /> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:complexType name="ApplicaPromoOut"> 
  <xsd:sequence> 
   <xsd:element name="DescrizioneEsito" type="xsd:string" minOccurs="0" /> 
   <xsd:element name="Esito" type="xsd:string" /> 
  </xsd:sequence> 
 </xsd:complexType> 
</xsd:schema>