esb_uat/repo/WS_WSC_AGGIORNA_CARRELLO/xsd/SkyXSD_WS_WSC_AGGIORNA_CARRELLO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:eb="http://www.reply.it/existbus" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.reply.it/existbus" elementFormDefault="qualified" attributeFormDefault="unqualified"> 
 <xsd:complexType name="DocumentDataIn"> 
  <xsd:sequence> 
   <xsd:element name="CodiceCliente" type="xsd:string" minOccurs="0" /> 
   <xsd:element name="CodiceContratto" type="xsd:string" /> 
   <xsd:element name="FlagMigrazione" type="xsd:string" minOccurs="0" /> 
   <xsd:element name="IdCarrello" type="xsd:string" /> 
   <xsd:element name="SessionId" type="xsd:string" minOccurs="0" /> 
   <xsd:element name="CodiceContatto" type="xsd:string" minOccurs="0" /> 
   <xsd:element name="Items"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element name="Item" maxOccurs="unbounded"> 
       <xsd:complexType> 
        <xsd:sequence> 
         <xsd:element name="AreaPromozione" type="xsd:string" /> 
         <xsd:element name="CodiceLavorazione" type="xsd:string" /> 
         <xsd:element name="CodicePromo" type="xsd:string" minOccurs="0" /> 
         <xsd:element name="RateCode" type="xsd:string" minOccurs="0" /> 
         <xsd:element name="RateCodeGenere" type="xsd:string" minOccurs="0" /> 
         <xsd:element name="TipoItem" type="xsd:string" /> 
         <xsd:element name="UpsellingMVE" minOccurs="0"> 
          <xsd:complexType> 
           <xsd:sequence> 
            <xsd:element name="PromozioneProposta" type="xsd:string" /> 
            <xsd:element name="Tipologia" type="xsd:string" /> 
            <xsd:element name="PromoAnywhere" minOccurs="0"> 
             <xsd:complexType> 
              <xsd:sequence> 
               <xsd:element name="CodiceVoucher" type="xsd:string" minOccurs="0" /> 
               <xsd:element name="FlagConsensoAnywhere" type="xsd:string" minOccurs="0" /> 
               <xsd:element name="PromozioneProposta" type="xsd:string" /> 
               <xsd:element name="TipoPromo" type="xsd:string" /> 
              </xsd:sequence> 
             </xsd:complexType> 
            </xsd:element> 
            <xsd:element name="PromoConn" minOccurs="0"> 
             <xsd:complexType> 
              <xsd:sequence> 
               <xsd:element name="CodicePromozione" type="xsd:string" /> 
               <xsd:element name="NumeroDevice" type="xsd:string" /> 
               <xsd:element name="SceltaInstallazione" type="xsd:string" /> 
               <xsd:element name="SmartCard" type="xsd:string" minOccurs="0" /> 
               <xsd:element name="TipoPromo" type="xsd:string" /> 
              </xsd:sequence> 
             </xsd:complexType> 
            </xsd:element> 
            <xsd:element name="PromoMV" minOccurs="0"> 
             <xsd:complexType> 
              <xsd:sequence> 
               <xsd:element name="CodicePromozione" type="xsd:string" /> 
               <xsd:element name="TipoPromo" type="xsd:string" /> 
               <xsd:element name="PacchettiMV"> 
                <xsd:complexType> 
                 <xsd:sequence> 
                  <xsd:element name="PacchettoMV" maxOccurs="3"> 
                   <xsd:complexType> 
                    <xsd:sequence> 
                     <xsd:element name="BitmapGeneri" type="xsd:string" /> 
                     <xsd:element name="BitmapPremium" type="xsd:string" /> 
                     <xsd:element name="PromozioneMV" type="xsd:string" /> 
                     <xsd:element name="RateCode" type="xsd:string" /> 
                     <xsd:element name="RateCodeGenere" type="xsd:string" /> 
                     <xsd:element name="SceltaDK" type="xsd:string" minOccurs="0" /> 
                     <xsd:element name="Tecnologia" type="xsd:string" /> 
                     <xsd:element name="TipoDecoder" type="xsd:string" minOccurs="0" /> 
                    </xsd:sequence> 
                   </xsd:complexType> 
                  </xsd:element> 
                 </xsd:sequence> 
                </xsd:complexType> 
               </xsd:element> 
              </xsd:sequence> 
             </xsd:complexType> 
            </xsd:element> 
            <xsd:element name="PromoUpg" minOccurs="0" maxOccurs="unbounded"> 
             <xsd:complexType> 
              <xsd:sequence> 
               <xsd:element name="AdesioneMVE" type="xsd:string" /> 
               <xsd:element name="CodicePromozione" type="xsd:string" /> 
               <xsd:element name="SceltaDecoder" type="xsd:string" /> 
               <xsd:element name="SceltaDK" type="xsd:string" minOccurs="0" /> 
               <xsd:element name="SceltaInstallazione" type="xsd:string" /> 
               <xsd:element name="SmartCard" type="xsd:string" minOccurs="0" /> 
               <xsd:element name="Tecnologia" type="xsd:string" /> 
               <xsd:element name="TipoPromo" type="xsd:string" /> 
               <xsd:element name="TipoDecoder" type="xsd:string" minOccurs="0" /> 
              </xsd:sequence> 
             </xsd:complexType> 
            </xsd:element> 
           </xsd:sequence> 
          </xsd:complexType> 
         </xsd:element> 
         <xsd:element name="PromoKidsAPP" minOccurs="0"> 
          <xsd:complexType> 
           <xsd:sequence> 
            <xsd:element name="FlagConsensoKidsApp" type="xsd:string" minOccurs="0" /> 
            <xsd:element name="CodicePromozione" type="xsd:string" /> 
            <xsd:element name="TermCondiKidsApp" type="xsd:string" minOccurs="0" /> 
           </xsd:sequence> 
          </xsd:complexType> 
         </xsd:element> 
         <xsd:element name="PromoSkyQ" minOccurs="0"> 
          <xsd:complexType> 
           <xsd:sequence> 
            <xsd:element name="CodicePromozione" type="xsd:string" minOccurs="1" /> 
            <xsd:element name="NumBooster" type="xsd:string" minOccurs="0" /> 
            <xsd:element name="NumMiniSTB" type="xsd:string" minOccurs="0" /> 
            <xsd:element name="FlagConsensoSkyQ" type="xsd:string" minOccurs="0" /> 
            <xsd:element name="FlagQApp" type="xsd:string" minOccurs="0" /> 
            <xsd:element name="Servizi" minOccurs="0"> 
             <xsd:complexType> 
              <xsd:sequence> 
               <xsd:element name="Servizio" maxOccurs="unbounded"> 
                <xsd:complexType> 
                 <xsd:sequence> 
                  <xsd:element name="CodicePromozione" type="xsd:string" minOccurs="1" /> 
                  <xsd:element name="RateCode" type="xsd:string" minOccurs="1" /> 
                 </xsd:sequence> 
                </xsd:complexType> 
               </xsd:element> 
              </xsd:sequence> 
             </xsd:complexType> 
            </xsd:element> 
           </xsd:sequence> 
          </xsd:complexType> 
         </xsd:element> 
        </xsd:sequence> 
       </xsd:complexType> 
      </xsd:element> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:complexType name="DocumentDataOut"> 
  <xsd:sequence> 
   <xsd:element name="BundleFastweb" type="xsd:string" minOccurs="0" /> 
   <xsd:element name="CodiceListino" type="xsd:string" minOccurs="0" /> 
   <xsd:element name="DescrizioneEsito" type="xsd:string" minOccurs="0" /> 
   <xsd:element name="Esito" type="xsd:string" /> 
   <xsd:element name="InfoCambioPacchetto" type="xsd:string" minOccurs="0" /> 
   <xsd:element name="Pacchetti" minOccurs="0"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element name="Pacchetto" minOccurs="0" maxOccurs="unbounded"> 
       <xsd:complexType> 
        <xsd:sequence> 
         <xsd:element name="BitmapGenere" type="xsd:string" minOccurs="0" /> 
         <xsd:element name="BitmapPremium" type="xsd:string" minOccurs="0" /> 
         <xsd:element name="CreditLimit" type="xsd:string" minOccurs="0" /> 
         <xsd:element name="DataAttivazione" type="xsd:string" minOccurs="0" /> 
         <xsd:element name="DataRitiroApparato" type="xsd:string" minOccurs="0" /> 
         <xsd:element name="Delta" type="xsd:string" minOccurs="0" /> 
         <xsd:element name="DescrizioneSelfCare" type="xsd:string" minOccurs="0" /> 
         <xsd:element name="FlagU2" type="xsd:string" minOccurs="0" /> 
         <xsd:element name="IdPacchetto" type="xsd:string" minOccurs="0" /> 
         <xsd:element name="MarcaModelloApparato" type="xsd:string" minOccurs="0" /> 
         <xsd:element name="Nome" type="xsd:string" minOccurs="0" /> 
         <xsd:element name="PeriodicitaAddebito" type="xsd:string" minOccurs="0" /> 
         <xsd:element name="Peso" type="xsd:string" minOccurs="0" /> 
         <xsd:element name="PesoTotale" type="xsd:string" minOccurs="0" /> 
         <xsd:element name="PktIntId" type="xsd:string" minOccurs="0" /> 
         <xsd:element name="Prezzo" type="xsd:string" minOccurs="0" /> 
         <xsd:element name="ProdId" type="xsd:string" minOccurs="0" /> 
         <xsd:element name="ProductTypeCode" type="xsd:string" minOccurs="0" /> 
         <xsd:element name="RateCode" type="xsd:string" minOccurs="0" /> 
         <xsd:element name="Stato" type="xsd:string" minOccurs="0" /> 
         <xsd:element name="TipoPkt" type="xsd:string" minOccurs="0" /> 
         <xsd:element name="TipoPrezzo" type="xsd:string" minOccurs="0" /> 
         <xsd:element name="ServiziOpzionali" minOccurs="0" maxOccurs="unbounded"> 
          <xsd:complexType> 
           <xsd:sequence> 
            <xsd:element name="CodiceParte" type="xsd:string" minOccurs="0" /> 
            <xsd:element name="DataAttivazione" type="xsd:string" minOccurs="0" /> 
            <xsd:element name="DataScadenzaAutomatica" type="xsd:string" minOccurs="0" /> 
            <xsd:element name="Delta" type="xsd:string" minOccurs="0" /> 
            <xsd:element name="DescrizioneSelfCare" type="xsd:string" minOccurs="0" /> 
            <xsd:element name="KenanId" type="xsd:string" minOccurs="0" /> 
            <xsd:element name="LegamePS-Sconto" type="xsd:string" minOccurs="0" /> 
            <xsd:element name="Nome" type="xsd:string" minOccurs="0" /> 
            <xsd:element name="NRCNegativoFlag" type="xsd:string" minOccurs="0" /> 
            <xsd:element name="ParentTipologiaPacchettoSKY" type="xsd:string" minOccurs="0" /> 
            <xsd:element name="ParticolaritaProdotto" type="xsd:string" minOccurs="0" /> 
            <xsd:element name="PeriodicitaAddebito" type="xsd:string" minOccurs="0" /> 
            <xsd:element name="Prezzo" type="xsd:string" minOccurs="0" /> 
            <xsd:element name="ProdId" type="xsd:string" minOccurs="0" /> 
            <xsd:element name="RateCode" type="xsd:string" minOccurs="0" /> 
            <xsd:element name="ScontoAssoluto" type="xsd:string" minOccurs="0" /> 
            <xsd:element name="ScontoPercentuale" type="xsd:string" minOccurs="0" /> 
            <xsd:element name="SottotipoProdotto" type="xsd:string" minOccurs="0" /> 
            <xsd:element name="Stato" type="xsd:string" minOccurs="0" /> 
            <xsd:element name="TecnologiaApparato" type="xsd:string" minOccurs="0" /> 
            <xsd:element name="Tipo" type="xsd:string" minOccurs="0" /> 
            <xsd:element name="Tipologia" type="xsd:string" minOccurs="0" /> 
            <xsd:element name="TipoPrezzo" type="xsd:string" minOccurs="0" /> 
           </xsd:sequence> 
          </xsd:complexType> 
         </xsd:element> 
        </xsd:sequence> 
       </xsd:complexType> 
      </xsd:element> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:element name="DocumentData" type="eb:DocumentDataOut" /> 
 <xsd:element name="COMPLEX_INPUT" type="eb:DocumentDataIn" /> 
</xsd:schema>