esb_uat/repo/WS_SF_SBL_CHECK_BL_IBAN/xsd/SkyXSD_OTS_SBL_CHECK_BL_IBAN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:eb="http://www.reply.it/existbus" targetNamespace="http://www.reply.it/existbus" elementFormDefault="qualified" attributeFormDefault="unqualified"> 
 <xsd:complexType name="COMPLEX_INPUT"> 
  <xsd:sequence> 
   <xsd:element name="Id" type="xsd:string" /> 
   <xsd:element name="CodiceIBAN" type="xsd:string" /> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:complexType name="COMPLEX_OUTPUT"> 
  <xsd:sequence> 
   <xsd:element name="Esito" type="xsd:string" /> 
   <xsd:element name="Descrizione" type="xsd:string" minOccurs="0" /> 
  </xsd:sequence> 
 </xsd:complexType> 
</xsd:schema>